%p#notice= notice

%p
  %b Name:
  = @person.name
%p
  %b Summary:
  = @person.summary
%p
  %b Biography:
  = @person.biography

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
